html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
}

.header-content {
    background: url('http://127.0.0.1:3000/images/banniere.jpg') no-repeat center center/cover;
    color: white;
}

.containerStamp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-gridStamp {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 2%;
}

.cardStamp {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
}

.titleStamp {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.descriptionStamp {
    text-align: center;
    width: 80%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer p {
    margin: 0;
}

a:hover {
    cursor: pointer;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    transition: ease 0.5s;
}

footer a:hover {
    opacity: 0.75;
}

.no-resize {
    resize: none;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.personnage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.personnage:hover {
    animation: bounce 2s infinite;
}

.error-message {
    color: red;
    display: flex;
    justify-content: center;
}

.container-form-connexion {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-connexion {
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5%;
}

.form-control::placeholder {
    color: #949494;
    font-size: 0.9rem;
}

.textfield-champ {
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #dddbdb;
    background-color: transparent;
    color: #dddbdb;
}

.textfield-champ::placeholder {
    color: gray;
}

.textfield-champ:focus {
    border: none;
    border-bottom: 1px solid tomato;
}

.textfield-champ:focus-visible {
    outline: none;
}

.container-champ {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.label-champ {
    width: 280px;
    margin-right: 10px;
}

.container-retour-text {
    font-size: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    color: #dddbdb;
    background: rgba(33, 37, 41, 1);
    padding: 25px;
    box-shadow: 1px 0 4px 0 rgba(33, 37, 41, 1);
    border-radius: 5px;
}

.buttonsContainer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hidden {
    display: none;
}

.toggle-section {
    color: green;
    font-weight: bold;
}

.toogleButtons:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

table thead {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
}

table thead tr th {
    padding: 10px;
    font-weight: bold;
    border: 1px solid #4d4d4d;
}

table tbody tr {
    border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: white;
}

table tbody td,
th {
    padding: 8px 10px;
    text-align: center;
    vertical-align: middle;
}

table tbody td.options {
    text-align: center;
    width: 50px;
}

table tbody td.options i {
    cursor: pointer;
    margin: 0 5px;
    color: #666;
    transition: color 0.3s ease;
}

table tbody td.options i:hover {
    color: #000;
}

table {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.modal {
    display: none;
    /* Masquer le modal par défaut */
    position: fixed;
    /* Positionner le modal par rapport à la fenêtre */
    z-index: 1;
    /* Placer le modal au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Permettre de scroller le contenu du modal si nécessaire */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fond semi-transparent */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}