html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, sans-serif;
}

.header-content {
    background: url('http://127.0.0.1:3000/images/banniere.jpg') no-repeat center center/cover;
    color: white;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer p {
    margin: 0;
}

a:hover {
    cursor: pointer;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
    transition: ease 0.5s;
}

footer a:hover {
    opacity: 0.75;
}

.no-resize {
    resize: none;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.personnage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px; 
    border-radius: 50%;
}

.personnage:hover{
    animation: bounce 2s infinite;
}

.error-message{
    color: red;
    display: flex;
    justify-content: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}