<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p>&copy; 2024 Pizza Express. Tous droits réservés.</p>
        <p><a href="https://www.google.com/maps?q=123+Rue+de+la+Pizza,+63000+Clermont-Ferrand" target="_blank" >123 Rue de la Pizza, 63000 Clermont-Ferrand</a></p>
        <p><a href="mailto:contact@pizzaexpress.com">Email: contact@pizzaexpress.com</a></p> 
    </div>
</footer>